
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">League Chat</h3>
  </div>
  <div class="panel-body">

    <span ng-repeat="comment in json_chatData track by $index">[{{comment.fields.timestamp}}] <b>{{comment.fields.author}}</b>: {{comment.fields.commentText}}<BR/>
    </span>

    <div class="form-inline">
      <div class="form-group form-group-sm">
      <input type="text" class="form-control" placeholder="Chat text" aria-describedby="basic-addon1" ng-model="inChatText"  name="leagueId" ng-keyup="$event.keyCode == 13 ? submitChat() : null"/>

        <input type="button" ng-click="submitChat()" value="Send" class="btn btn-default"/>
      </div>
    </div>
  </div>
</div>
