<div ng-controller="LoginCtrl">
<div class="form-inline">
<div class="form-group form-group-sm">
<form name="form" ng-submit="login()" role="form">
  <input type="text" name="username" id="username" class="form-control" ng-model="inUser" required />
  <input type="password" name="password" id="password" class="form-control" ng-model="inPassword" ng-keyup="$event.keyCode == 13 ? login() : null" required />
  <button ng-click="login()">Login
  {{loggedIn}} {{loginMsg}}</button>
</form>
</div>
</div>
</div>
